.navbar-custom {
    background-color: #7f1716;
}

.btn-outline-light:hover {
    color: #7f1716;
}

.btn-outline-light:hover {
    color: #7f1716;
}

.table-nonfluid {
    width: auto !important;
 }

.cases {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
}

