<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    
    <title>Перегляд справи</title>
</head>
            
<body>
    <nav class="navbar navbar-custom">
        <div class="container-fluid">
            <a href="/">
                <img class="navbar-brand" src="{{ url_for('static', filename='img/logo.svg') }}">
            </a>
            <h1 class="navbar-brand text-light">База юридичних справ школи права УКУ</h1>
            <a href="/" class="btn btn-outline-light btn-md" role="button">Перейти на головну</a>
        </div>
    </nav>
    <div class="container-fluid cases">
        <a href="/edit/{{ data[0] }}" class="btn btn-outline-info" role="button">Змінити справу</a>
        <a href="/remove/{{ data[0] }}" class="btn btn-outline-danger" role="button"
        onclick="return confirm('Ви точно хочете видалити цю справу?');">Видалити справу</a>
    </div>
    <div class="container-fluid">

        <table class="table table-striped table-nonfluid">
            {% for i in range(data|length) %}
                {% if data[i]|string|length != 0 %}
                <tr>
                    <th scope="row">{{ fields[i] }}</th> 
                    <td>{{ data[i] }}</td> 
                </tr>
                {% endif %}
            {% endfor %} 
           
            {% for i in range(files|length) %}
                <tr>
                    {% if i == 0 %} <th scope="row" rowspan="{{ files|length }}">Файли справи</th> {% endif %}
                    <td>
                        {{ files[i].split('_', 1)[-1] }}
                        <div style="margin-left:20px; float: right;">
                            <a href="/remove-file/{{ files[i] }}" class="btn btn-outline-danger btn-sm" role="button"
                            onclick="return confirm('Ви точно хочете видалити цей файл?');">Видалити</a>
                        </div>
                        <div style="margin-left:20px; float: right;">
                            <a href="/download/{{ files[i] }}" class="btn btn-outline-dark btn-sm" role="button">Завантажити</a>
                        </div>
                        
                    </td> 
                </tr>
            {% endfor %} 
                 
        </table>

  
    </div>

</body>
</html>
